.container {
    display: flex;
    background-color: rgb(213, 232, 226);
}

.elements {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}


.flex-container {
    display: flex;
    background-color: rgb(213, 232, 226);
    flex-direction: row;
    justify-content: center;
}

.flex-container > div {
    background-color: #86d55e;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  
.columns {
    display: flex;
}

.equal-columns > * {
    flex: 1;
  }